<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>Formulario para agregar productos</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <h3>Agregar Producto</h3>
    <div class="container">
      <div class="row justify-content-around">
        <form
          action="/api/productos"
          method="post"
          enctype="multipart/form-data"
          class="card col-4 p-3"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Título:</label>
            <input
              type="text"
              name="title"
              required
              class="form-control"
              id="titleForm"
            />
          </div>

          <div class="mb-3">
            <label for="price" class="form-label">Precio:</label>
            <input
              type="text"
              name="price"
              required
              class="form-control"
              id="priceForm"
            />
          </div>

          <div class="mb-3">
            <label for="thumbnail" class="form-label">Foto del producto:</label>
            <input
              type="file"
              name="thumbnail"
              id="thumbnail"
              required
              class="form-control"
            />
          </div>

          <button type="submit" class="btn btn-primary" id="btn">
            Agregar producto a la lista
          </button>
        </form>
      </div>
    </div>

    <div id="lista"></div>

    <div class="col-6 card mt-3 p-2 ">
      <h1>Chatea con otros usuarios</h1>

      <div class="col-sm-5">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="basic-addon3">Email</span>
          <input
            id="input-email"
            type="text"
            name="thumbnail"
            required
            class="form-control"
            placeholder="Ingresá tu email"
            aria-label="email"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>

      <div class="col-sm-5">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="basic-addon3">Mensaje</span>
          <input
            id="input-mensaje"
            type="email"
            name="thumbnail"
            required
            class="form-control"
            placeholder="Ingresá tu mensaje"
            aria-label="mensaje"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>

      <div class="col-sm-4">
        <div class="d-grid gap-2">
          <button id="btn-submit-mensaje" class="btn btn-success btn-sm">
            Enviar mensaje
          </button>
        </div>
      </div>

      <h2>Historial de mensajes</h2>

      <div id="historial-mensajes"></div>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>

    <%- include('../partials/footer') %>
  </body>
</html>
